<!doctype html>
<!-- Using Bootstrap For My HTML -->

<html lang ="en">


  <head>

    <!--Link For Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    
    <!--Link For Bootstrap Meta Tag. Bootstrap is developed first for mobile devices then scaled up as necessary using CSS media queries-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Personal Website For Mevans Codes" />
    <meta name="author" content="Michael Evans" />

    <title>Mevans Codes</title> <!--Tab Title-->

    <h1 class="text-center">Mevans Codes</h1>

    <!--Navigation Bar-->
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">TBD</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">TBD</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">TBD</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">TBD</a>
      </li>
    </ul>


  </head>


  <body>

    <!--About Me Description-->
    <div class="container">

      <!--About Me Section-->
      <div class="row alighn-items-center">
        <div class = "mt-5 section">
          <h4 class = "text-center">About Me</h4>
          My name is Michael Evans. I am a computer science student and author of some questionable code on github.
          I decided to keep this site very minimal for now as my only goals were to create a space
          for me to showcase my projects and learn to deploy a webpage using flask.
        </div>
      </div>

      <!--Projects Section-->
      <div class="row alighn-items-center">
        <div class = "mt-5 section">
          <h4 class = "text-center">Projects</h4>
            
          <!--Project Card 1-->
          
          <div class="card-group">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Personal Finance Calculator</h5>
                <p class="card-text">Here I will describe my personal caluclator project using theSTAR Method : What was the situation? What were the tasks? What did you do? What were the results </p>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Next Project Here</h5>
                <p class="card-text">Here I will describe my personal caluclator project using theSTAR Method : What was the situation? What were the tasks? What did you do? What were the results </p>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Next Project Here</h5>
                <p class="card-text">Here I will describe my personal caluclator project using theSTAR Method : What was the situation? What were the tasks? What did you do? What were the results </p>
              </div>
            </div>
          </div>
                  
        </div>
      </div>


    </div>

      


    <!--Link For Bootstrap Javascript-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>


</html>