<!doctype html>
<!-- Using Bootstrap For My HTML -->

<html lang ="en">


  <head>

    <!--Link For Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    
    <!--Link For Bootstrap Meta Tag. Bootstrap is developed first for mobile devices then scaled up as necessary using CSS media queries-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Personal Website For Mevans Codes" />
    <meta name="author" content="Michael Evans" />


    <title>Mevans Codes</title> <!--Tab Title-->


    <!--Navigation Bar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
      <div class="container">
        <a class="navbar-brand" href="#">
          Mevans Codes
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/projects">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/tutorials">Tutorials</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


  </head>


  <body>

  
    <div class="container">

      <!--Intro Section-->
      <div class="row alighn-items-center">
        <div class = "my-5 section">
          <h1 class = "text-center display-1">Michael Evans</h1>
          <h6 class = "text-center">Computer Science Student | Software Engineer</h6>

          
          <!--Social Media Links-->
          <div class = "row alighn-items-center my-4">
            <div class="d-flex justify-content-around shadow-0" role="group">
              <a href = "https://www.linkedin.com/in/michael-evans-ny/" type="button" class="btn btn-light border rounded-circle" data-mdb-color="dark">Linked-In</a>
              <a href = "https://github.com/mevans97" type="button" class="btn btn-light border rounded-circle" data-mdb-color="dark">Git-Hub</a>
              <a href = "https://www.youtube.com/channel/UC5HXUbZ98xCalomnkPfZVGA/featured" type="button" class="btn btn-light border rounded-circle" data-mdb-color="dark">Youtube</a>
            </div>
          </div>

          

        </div>
      </div>
      

      <!--About Me Section-->
      <div class="row alighn-items-center">
        <div class = "my-5 section">
          <h1 class = "text-center display-1">About Me</h1>
          My name is Michael Evans. I am a computer science student at the State University of New York - New Paltz.
          I decided to keep this site very minimal for now as my only goals were to create a space
          for me to showcase my projects and learn to deploy a webpage using flask.
        </div>
      </div>


       <!--Page Under Construction-->
       <div>
        <div class="row alighn-items-center">
            <div class = "mt-5 section">
              <h1 class = "text-center">Page Under Construction</h1>
            </div>
        </div>
      </div>



    </div>

      


    <!--Link For Bootstrap Javascript-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>


</html>