{% extends "base.html" %}
{% block title %} Home Page {% endblock %}
{% block content %}
<div class="container">

  <!--Intro Section-->
  <div class="row alighn-items-center">
    <div class = "my-5 section">
      <h1 class = "text-center display-1">Michael Evans</h1>
      <h6 class = "text-center">Computer Science Student | Software Engineer</h6>

      
      <!--Social Media Links-->
      <div class = "row alighn-items-center my-4">
        <div class="d-flex justify-content-center shadow-0" role="group">
          <a href = "https://www.linkedin.com/in/michael-evans-ny/" type="button" class="btn btn-light border bg-dark text-white" data-mdb-color="dark">Linked-In</a>
          <a href = "https://github.com/mevans97" type="button" class="btn btn-light border bg-dark text-white" data-mdb-color="dark">Git-Hub</a>
          <a href = "https://www.youtube.com/channel/UC5HXUbZ98xCalomnkPfZVGA/featured" type="button" class="btn btn-light border bg-dark text-white" data-mdb-color="dark">Youtube</a>
        </div>
      </div>
      

      

    </div>
  </div>
  

  <!--About Me Section-->
  <div class="row alighn-items-center">
    <div class = "my-5 section">

      <h2 class = "text-center display-3">Let Me Introduce Myself</h2>

      <p class = "text-center">
        My name is Michael Evans. I am a computer science student at the State University of New York - New Paltz.
      I picked up software development during some free time while I was traveling the country helping short 
      staffed hospitals during covid. I quickly fell in love with the art of programming
      and decided to commit to getting a degree in computer science. SO here I am, on my journey to becoming a professional
      software developer.
      </p>
      
    </div>
  </div>

    <!--Page Under Construction-->
    <div>
    <div class="row alighn-items-center">
        <div class = "mt-5 section">
          <h1 class = "text-center">Page Under Construction</h1>
        </div>
    </div>
  </div>



</div>
{% endblock %}
